<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

# **WINDOW FUNCTION W/ SUM()**


*   Grouping by First Orders

In [79]:
%%sql

SELECT orderdate,
orderkey,
linenumber,
(quantity * netprice * exchangerate) AS net_revenue,
SUM(quantity * netprice * exchangerate) OVER( PARTITION BY orderdate) AS daily_net_revenue,
(quantity * netprice * exchangerate) * 100/SUM(quantity * netprice * exchangerate) OVER( PARTITION BY orderdate) AS pct_daily_revenue
FROM
 sales
ORDER BY
 orderdate,pct_daily_revenue DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,orderkey,linenumber,net_revenue,daily_net_revenue,pct_daily_revenue
0,2015-01-01,1004,3,2395.10,11640.80,20.58
1,2015-01-01,1006,1,1552.32,11640.80,13.34
2,2015-01-01,1002,2,1302.91,11640.80,11.19
3,2015-01-01,1002,0,1146.75,11640.80,9.85
4,2015-01-01,1005,0,975.16,11640.80,8.38
5,2015-01-01,1002,1,950.25,11640.80,8.16
6,2015-01-01,1004,1,578.52,11640.80,4.97
7,2015-01-01,1008,1,574.05,11640.80,4.93
8,2015-01-01,1000,1,423.28,11640.80,3.64
9,2015-01-01,1004,0,263.11,11640.80,2.26

# **COHORT ANALYSIS W/ MIN()**

*   Grouping by First Orders

In [112]:
%%sql

WITH yearly_cohort AS(
   SELECT DISTINCT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER(PARTITION BY customerkey)) AS cohort_year
 FROM sales
)
SELECT
 y.cohort_year,
 EXTRACT(YEAR FROM orderdate) AS purchased_year,
 SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales s
LEFT JOIN yearly_cohort y ON s.customerkey = y.customerkey
GROUP BY y.cohort_year, purchased_year
ORDER BY y.cohort_year
LIMIT 15

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

15 rows affected.

   cohort_year purchased_year  net_revenue
0         2015           2015   7370979.48
1         2015           2016    392623.48
2         2015           2017    479841.31
3         2015           2018   1069850.87
4         2015           2019   1235991.48
5         2015           2020    386489.60
6         2015           2021    872845.99
7         2015           2022   1569787.72
8         2015           2023   1157633.91
9         2015           2024    356186.62
10        2016           2016   9990990.20
11        2016           2017    497028.11
12        2016           2018   1074607.29
13        2016           2019   1565400.72
14        2016           2020    474087.09

# **COHORT ANALYSIS WITH COUNT()**

*   Unique Customers per year by Cohort

In [132]:
%%sql

WITH yearly_cohort AS(
   SELECT DISTINCT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER(PARTITION BY customerkey)) AS cohort_year,
  EXTRACT(YEAR FROM orderdate) AS purchased_year
 FROM sales
)

SELECT DISTINCT
 cohort_year,
 purchased_year,
 COUNT(customerkey) OVER(PARTITION BY cohort_year,purchased_year) AS net_revenue
FROM yearly_cohort
ORDER BY cohort_year,purchased_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchased_year  net_revenue
0         2015           2015         2825
1         2015           2016          126
2         2015           2017          149
3         2015           2018          348
4         2015           2019          388
5         2015           2020          171
6         2015           2021          295
7         2015           2022          600
8         2015           2023          499
9         2015           2024          146
10        2016           2016         3397
11        2016           2017          174
12        2016           2018          374
13        2016           2019          457
14        2016           2020          205
15        2016           2021          336
16        2016           2022          746
17        2016           2023          573
18        2016           2024          183
19        2017           2017         4068
20        2017           2018          473
21        2017           2019          570
22        2017           2020          251
23        2017           2021          450
24        2017           2022          943
25        2017           2023          738
26        2017           2024          246
27        2018           2018         7446
28        2018           2019         1081
29        2018           2020          475
30        2018           2021          779
31        2018           2022         1644
32        2018           2023         1407
33        2018           2024          426
34        2019           2019         7755
35        2019           2020          523
36        2019           2021          873
37        2019           2022         1700
38        2019           2023         1439
39        2019           2024          370
40        2020           2020         3031
41        2020           2021          358
42        2020           2022          694
43        2020           2023          547
44        2020           2024          163
45        2021           2021         4663
46        2021           2022         1051
47        2021           2023          889
48        2021           2024          268
49        2022           2022         9010
50        2022           2023         1764
51        2022           2024          561
52        2023           2023         5890
53        2023           2024          332
54        2024           2024         1402

# **COHORT ANALYSIS WITH AVG()**

*   Customers Lifetime Value(LTV): Total revenue generated by a customer over life time.[for business over their entire relationship with company]


*   Average Order Value(AOV): Typicall Amount spent per transaction

*   Revenue Per User: Average revenue generated by each customer

In [142]:
%%sql

WITH yearly_cohort AS(
   SELECT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
  SUM( quantity * netprice * exchangerate) AS customer_ltv
 FROM sales
 GROUP BY customerkey
)

SELECT
  *,
 AVG(customer_ltv) OVER(PARTITION BY cohort_year)  AS avg_cohort_ltv
FROM yearly_cohort
ORDER BY cohort_year,customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey cohort_year  customer_ltv  avg_cohort_ltv
0             4376        2015        182.00         5271.59
1             4403        2015       9530.35         5271.59
2             4925        2015       6078.08         5271.59
3             5729        2015        192.16         5271.59
4             6048        2015       1903.89         5271.59
...            ...         ...           ...             ...
49482      2093965        2024        475.22         2037.55
49483      2095129        2024        156.00         2037.55
49484      2095691        2024        326.00         2037.55
49485      2096470        2024        535.78         2037.55
49486      2097541        2024       1143.15         2037.55

[49487 rows x 4 columns]